<%= render @pages || "header" %>
<%= render @pages || "top_nav" %>
<%= render @pages || "side_nav" %>
<div id = "wrapper">
<div class="row">
	<div class = "col-lg-1"> </div>
	<div class = "col-lg-5"> <h1> Test </h1> </div>
</div>
</div>

</body>

</html>
