 <%= render @pages || "header" %>
<%= render @pages || "top_nav" %>
<%= render @pages || "side_nav" %>
<%= render @pages || "end_side_nav" %> 
<div id="page-wrapper">
        <div class="row">
            <div class="panel panel-default">
                <div class="panel-heading">
                    Minutes of App Used Per Day
                </div>
                <div class="panel-body">
                    <div id="morris-area-chart"></div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>

</html>
