<div class="navbar-default sidebar" role="navigation">
            <div class="sidebar-nav navbar-collapse">
                <ul class="nav" id="side-menu">
                    <li class="sidebar-search">
                        <div class="input-group custom-search-form">
                            <input type="text" class="form-control" placeholder="Search...">
                            <span class="input-group-btn">
                                <button class="btn btn-default" type="button">
                                    <i class="fa fa-search"></i>
                                </button>
                            </span>
                        </div>
                    </li>
                   
					<li>
                        <a href=""><i class="fa fa-sitemap fa-fw"></i>Usage Overview<span class="fa arrow"></span></a>
                        <ul class="nav nav-second-level">
                            <li>
                                <a href="topicsOverview">Apps & Learning</a>
                            </li>
                            <li>
                                <a href="appOverview">Usage & Effectiveness</a>
                            </li>
						</ul>
					</li>
					<li>
                        <a href=""><i class="fa fa-sitemap fa-fw"></i>User Overview<span class="fa arrow"></span></a>
                        <ul class="nav nav-second-level">
                            <li>
                                <a href="userApps">User's Apps & Learning</a>
                            </li>
                            <li>
                                <a href="usersTable">User's Weekly Usage</a>
                            </li>
						</ul>
					</li>
					<li>
						<a href="topicsOverview"><i class="fa fa-university fa-fw"></i>Learning Topics</a>
					</li>
				 </ul> 
			</div>
        </div>
	</nav>	
